@media print {
    body {
        background: none !important;
        padding: 0 !important;
        font-size: 12pt;
    }

    .intro-title {
        &:before,
        &:after,
        span {
            display: none;
        }

        font-size: 30pt;
        margin: 20pt 0 10pt;
        padding: 30pt 0;
    }

    .intro-subtitle {
        margin-bottom: 40pt;
    }

    .section {
        padding: 40pt 0;
    }

    .section-title {
        padding: 0;

        &:before,
        &:after {
            display: none;
        }
    }

    .list__item {
        margin-bottom: 10pt;
        padding-bottom: 10pt;
    }

    .others-box {
        margin-top: 50pt;
    }

    footer {
        display: none !important;
    }
}