// FONTS
$font-family: 'Roboto', sans-serif;


// COLORS
$black: #000;
$white: #fff;

$grey: #666;
$grey-light: #888;
$grey-very-light: #bbb;
$grey-extra-light: #ececec;

$contrast-light: #b5f7c9;
$contrast: #8aeea8;
$contrast-dark: #74dc94;


// HELPERS
$default-context: 15;

@function px2em($pixels, $context: $default-context) {
    @return #{$pixels/$context}em;
}