/* ADD-ONS
------------------------------------------------------------ */
@import "variables";
@import "grid";



/* BASE
------------------------------------------------------------ */
html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    font-family: $font-family;
    font-size: 93.75%;
    font-weight: 400;
    line-height: 1.75;
    color: $grey;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility !important;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family;
    font-weight: 700;
    line-height: 1.4;
    color: $black;
    margin: 50px 0 20px;
    margin: px2em(50) 0 px2em(20);
}

h1 {
    font-size: 48px;
    font-size: px2em(48)
}

h2 {
    font-size: 36px;
    font-size: px2em(36)
}

h3 {
    font-size: 28px;
    font-size: px2em(28)
}

h4 {
    font-size: 22px;
    font-size: px2em(22)
}

h5 {
    font-size: 18px;
    font-size: px2em(18)
}

h6 {
    font-size: 16px;
    font-size: px2em(16)
}

p {
    margin: 0 0 30px 0;
    margin: 0 0 px2em(30) 0;
}

a {
    color: $contrast-dark;
}

a:hover,
a:focus {
    color: $contrast-dark;
    text-decoration: none;
}

strong {
    color: $black;
}

mark,
ins {
    background: $contrast-light;
    color: $white;
    text-decoration: none;
    padding: 2px 6px 3px;
    padding: px2em(2) px2em(6) px2em(3);
    border-radius: 3px;
    border-radius: px2em(3);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

ul,
ol,
dl {
    margin: 0 0 30px 0;
    margin: 0 0 px2em(30) 0;
}

ul,
ol {
    padding: 0 0 0 18px;
    padding: 0 0 0 px2em(18);
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 10px 0 0 0;
    margin: px2em(10) 0 0 0;
    padding-left: 30px;
    padding-left: px2em(30);
}

li {
    margin: 0 0 12px 0;
    margin: 0 0 px2em(12) 0;
    list-style-type: circle;
}

hr {
    border: 0;
    border-top: solid 1px $grey-extra-light;
    border-top: solid px2em(1) $grey-extra-light;
}



/* BASE - GLOBAL MODIFIERS
------------------------------*/
.container {
    max-width: 940px;
    max-width: px2em(940);
}

.text--center {
    text-align: center !important;
}

.text--left {
    text-align: left !important;
}

.text--right {
    text-align: right !important;
}

.text--uppercase {
    text-transform: uppercase !important;
}

.text--grey {
    color: $grey !important;
}

.text--grey-very-light {
    color: $grey-very-light !important;
}

.text--md {
    font-size: 28px;
    font-size: px2em(28);
}



/* INTRO
------------------------------*/
.intro-title {
    position: relative;
    margin: 150px 0 110px;
    margin: px2em(150,48) 0 px2em(110,48);
    padding: 50px 0;
    padding: px2em(50,48) 0;
    background: $white;
    letter-spacing: -1px;
    letter-spacing: px2em(-1, 48);
    font-weight: 400;
    z-index: 1;

    &:before,
    &:after {
        content: "";
        display: inline-block;
        width: 100%;
        position: absolute;
    }

    &:before {
        //height: calc(100% + #{px2em(80, 48)});
        height: 125%;
        top: -40px;
        top: px2em(-40, 48);
        left: -85%;
        border: solid px2em(10, 48) $contrast-light;
        z-index: -1;
    }

    &:after {
        //height: calc(100% - #{px2em(20, 48)});
        height: 91%;
        top: px2em(10, 48);
        left: 0;
        z-index: -1;
        background: $white;
    }

    span {
        font-size: 28px;
        font-size: px2em(28, 48);
        font-weight: 700;
        color: $contrast;
        position: absolute;
        top: -90px;
        top: px2em(-90, 28);
        left: 71px;
        left: px2em(71, 28);
    }

    strong {
        font-weight: 700;
    }

    em {
        font-style: normal;
        font-weight: 700;
        text-decoration: underline;
    }
}

.intro-subtitle {
    font-size: 20px;
    font-size: px2em(20);
    margin-bottom: 80px;
    margin-bottom: px2em(80);
}



/* SECTION
------------------------------*/
.section {
    padding: 80px 0;
    padding: px2em(80) 0;
    border-top-width: 1px;
    border-top-width: px2em(1);
    border-top-style: solid;
}

.section-title {
    margin-top: 0;
    font-size: 18px;
    font-size: px2em(18);
    font-weight: 700;
    display: inline-block;
    position: relative;
    padding: 0 25px;
    padding: 0 px2em(25, 18);

    &:after,
    &:before {
        content: "";
        display: inline-block;
        width: 10px;
        width: px2em(10, 18);
        height: 2px;
        height: px2em(2, 18);
        background: $black;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        margin-top: px2em(-1, 18);
    }

    &:after {
        right: 0;
    }

    &:before {
        left: 0;
    }
}

.section-content {
    *:first-child {
        margin-top: 0;
    }

    *:last-child {
        margin-bottom: 0;
    }
}

.section--default {
    background: #fff;
    border-top-color: $grey-extra-light;
}



/* LIST
------------------------------*/
.list {
    *:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }
}

.list__item {
    margin-bottom: 30px;
    margin-bottom: px2em(30);
    padding-bottom: 30px;
    padding-bottom: px2em(30);
    border-bottom-width: 1px;
    border-bottom-width: px2em(1);
    border-bottom-style: solid;
}

.list__title {
    font-size: 18px;
    font-size: px2em(18);
    margin-bottom: 0;

    &.list__title--md {
        margin-bottom: 10px;
        margin-bottom: px2em(10, 18);
    }
}

.list__link {
    margin-bottom: 5px;
    margin-bottom: px2em(5);
}

.list__date {
    font-size: 14px;
    font-size: px2em(14);
    font-style: normal;
    color: $grey-light;
}

.list__list {
    li {
        margin-bottom: 3px;
        margin-bottom: px2em(3);
    }
}

.list--default {
    .list__item {
        border-bottom-color: $grey-extra-light;
    }
}



/* BUTTON
------------------------------*/
.button {
    display: inline-block;
    text-decoration: none;

    span[class^='ion'] {
        width: 10px;
        width: px2em(10);
        display: inline-block;
        transition: transform 0.3s;
    }

    &:hover {
        span[class^='ion'] {
            -webkit-transform: translateY(px2em(-5));
            -ms-transform: translateY(px2em(-5));
            transform: translateY(px2em(-5));
        }
    }
}

.button--default {
    &, &:hover, &:focus {
        color: black;
    }
}



/* PROJECTS
------------------------------*/
.projects {
    .project {
        margin-bottom: 40px;
        margin-bottom: px2em(40);
    }

    & .row:last-child .project {
        margin-bottom: 0;
    }
}



/* FOOTER
------------------------------*/
.footer {
    padding: 30px 0;
    padding: px2em(30) 0;
    border-top-width: 10px;
    border-top-width: px2em(10);
    border-top-style: solid;

    p {
        margin-bottom: 10px;
        margin-bottom: px2em(10);
    }
}

.footer--default {
    border-top-color: $grey-extra-light;
}



/* MEDIA QUERIES
------------------------------*/

/* Mobiles */
@media (max-width: 767px) {
    .intro-title {
        font-size: 40px;
        margin: 30px 0 40px;
        margin: px2em(20,40) 0 px2em(40,40);
        padding: 20px 0;
        padding: px2em(20,40) 0;

        &:before,
        &:after {
            display: none;
        }

        span {
            display: block;
            position: relative;
            top: 0;
            left: 0;
            padding-bottom: 30px;
            padding-bottom: px2em(30, 40);
        }
    }

    .intro-subtitle {
        margin-bottom: 50px;
        margin-bottom: px2em(50);
    }

    .section {
        padding: 50px 0;
        padding: px2em(50) 0;
    }

    .section-title {
        font-size: 22px;
        font-size: px2em(22);
        margin-bottom: 40px;
        margin-bottom: px2em(40, 22);
        padding: 0;

        &:before,
        &:after {
            display: none;
        }
    }

    .list__item {
        margin-bottom: 20px;
        margin-bottom: px2em(20);
        padding-bottom: 20px;
        padding-bottom: px2em(20);
    }

    .projects {
        .project {
            margin-bottom: 25px;
            margin-bottom: px2em(25);
        }
    }

    .others-box {
        margin-top: 30px;
        margin-top: px2em(30px);
    }
}



/* PRINT
------------------------------*/
@import "print";